* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
}
#flex-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}
h1 {
  font-family: sans-serif;
  color: black;
}
